<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113226174383-7d2rq2mmutp159ut5mdk474bmlgf3f53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113226174383-7d2rq2mmutp159ut5mdk474bmlgf3f53</string>
	<key>API_KEY</key>
	<string>AIzaSyDKP6RzgnfURN_GYhySKwch_vEmDOpr0-E</string>
	<key>GCM_SENDER_ID</key>
	<string>113226174383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hong.TermProject-05-19</string>
	<key>PROJECT_ID</key>
	<string>messengerproject-53c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerproject-53c9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113226174383:ios:9768619006443065c4e95a</string>
</dict>
</plist>